/** Global **/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.padding{
  padding: 1.2rem 0;
}
#white-color{
  color: white;
}
.wrapping{
  min-height: 100%;
  position: relative;
}
/** Navigation **/
.navbar-light{
  background-color: #DD4B39;
}
.navbar{
  padding: 0 0.85rem;
  margin: 0;
}
.navbar a{
  color: white;
}
.nav-des{
  font-size: 1rem;
  text-transform: uppercase;
}
.nav-des li{
  padding: 0 0.6rem;
}
#sign-up a{
  border-radius:  0.2rem;
  background: #F15A24;
  color: #fff;
}
#sign-up a:hover{
  background: rgba(230, 70, 0, 0.78);
}
/**  Dropdown **/
.dropdown{
  margin-top: 0.15rem;
}
.scrollable-menu {
    height: auto;
    max-height: 175px;
    overflow-x: hidden;
}
.btn-dark ,.btn-dark:focus, .btn-dark:hover {
	box-shadow: 0 0 0 0;
  border-color: #DD4B39;
  border-radius: 0.3rem;
}
.btn-dark:not(:disabled):not(.disabled).active:focus, .btn-dark:not(:disabled):not(.disabled):active:focus, .show > .btn-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0;
}
.btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show > .btn-dark.dropdown-toggle {
	color: #fff;
	background-color: #C03902;
}
.dd-style{
  background: #F15A24;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding:1rem;
}
.dd-style:hover, .dd-style:active {
  background: #C03902;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 14rem;
	padding: .5rem 0;
	font-size: 1.2rem;
	color: #212529;
	text-align: center;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
}
.only:focus, .only:hover {
	color: #000;
	text-decoration: none;
	background-color: #F15A24;
  filter: opacity(80%);
}
/** Card **/
.card-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.checked {
  color: orange;
}
.card-footer p{
  padding-top: 0.4rem;
}
.last-content{
  padding-bottom: 7rem;
}
/** Footer **/
footer{
  position: absolute;
  background: #F15A24;
  text-align: center;
  padding: 0.6rem;
  width: 100%;
  bottom: 0;
  left: 0;
}
/** Media Queries **/
