/** Global **/
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
}
.padding{
	padding: 1.2rem, 0;
}
.last-content{
  padding-bottom: 4rem;
}
/** Navigation **/
.nav-item{
  font-size: 1.05rem;
  padding: 20px 60px 5px 60px;
}
#nav-link{
  color: #E85842;
}
#nav-link:hover{
	text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
}
/** Video Background **/
.v-header{
  overflow:hidden;
  position:relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
video{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  bottom: 0;
  right: 0;
}
.v-header-content{
  position: absolute;
  top:60%;
  margin: 0;
  width: 100%;
	left: 50%;
	text-align: center;
	transform: translate(-50%,-50%);
}
.v-header-content a{
  border-radius: 4px;
  background-color:#E85842;
  border: none;
  color: #FFFFFF;
	letter-spacing: 0.3rem;
  text-align: center;
  font-size: 1.3rem;
	font-family: 'Roboto Slab', serif;
  padding: 1.2rem;
  margin: 5px;
}
.v-header-content a:hover{
	background: #C03902;
}
/** New Div **/
.new-div{
	position:relative;
	padding:2rem;
	width: 100%;
	bottom: 0;
	left: 0;
}
/** Card **/
.card-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
}
.card-title{
  text-align: center;
}
.card-footer p{
  padding-top: 0.4rem;
}
.title-design{
	padding: 0.5rem 0;
}
.wew{
  -webkit-box-shadow: 4px 4px 6px 0px rgba(189,170,189,1);
  -moz-box-shadow: 4px 4px 6px 0px rgba(189,170,189,1);
  box-shadow: 4px 4px 6px 0px rgba(189,170,189,1);
}
/** Footer **/
footer{
  position: relative;
  background: #F15A24;
  text-align: center;
  padding: 0.6rem;
  width: 100%;
  bottom: 0;
  left: 0;
}
/** Media Queries **/
@media screen and (max-width: 960px){
  #c-logo{
    width: 700px;
    height: 100px;
  }
  .nav-item{
    font-size: 16px;
    padding: 20px 30px 0 30px;
  }
	.v-header-content{
		left: 50%;
	}
	.v-header-content a{
		padding: 1rem;
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 700px){
  #c-logo{
    width: 600px;
    height: 90px;
  }
  .nav-item{
    font-size: 16px;
    padding: 6px 30px 0 30px;
  }
	.v-header-content{
		left: 50%;
	}
}
@media screen and (max-width: 600px){
  #c-logo{
		display: none;
	}
}
