/** Global **/
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
  overflow-x: hidden;
}

/** Navigation **/
.nav-item{
  font-size: 1.05rem;
  padding: 20px 60px 0 60px;
}
.nav-link{
  color: #E85842;
}
/** Nav Effects**/
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: salmon;
	filter: brightness(100%);
}
/* Stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: red;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
.navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
	background: gray;
}
/** Video Background **/
.v-header{
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
video{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  overflow: visible;
  position: relative;
  bottom: 0;
  right: 0;
}
.v-header-content{
  position: absolute;
  top:60%;
  margin: 0;
  width: 100%;
  left: 40.4%;
}
.v-header-content a{
  border-radius: 4px;
  background-color:#E85842;
  border: none;
  color: #FFFFFF;
	letter-spacing: 0.3rem;
  text-align: center;
  font-size: 1.3rem;
	font-family: 'Roboto Slab', serif;
  padding: 1.2rem;
  //transition: all 0.5s;
  //cursor: pointer;
  margin: 5px;
}
.v-header-content a:hover{
	background: #C03902;
}
/** Media Queries **/
@media screen and (max-width: 960px){
  #c-logo{
    width: 700px;
    height: 100px;
  }
  .nav-item{
    font-size: 16px;
    padding: 20px 30px 0 30px;
  }
	.v-header-content{
		left: 40%;
	}
	.v-header-content a{
		padding: 1rem;
		font-size: 0.8rem;
	}
}
@media screen and (max-width: 700px){
  #c-logo{
    width: 600px;
    height: 90px;
  }
  .nav-item{
    font-size: 16px;
    padding: 6px 30px 0 30px;
  }
	.v-header-content{
		left: 35%;
	}
}
